<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<div class="main mt1 clearfix">
	<div class="w splist clearfix">
		<ul>
			<li class="c1"><a href='m/explore/category-9'>玩转4G</a></li>
			<li class="c2"><a href='m/explore/category-10'>最新业务</a></li>
			<li class="c3"><a href='m/explore/category-8'>精彩专题</a></li>
			<li class="c4"><a href='m/explore/category-11'>热点活动</a></li></li>
			<li class="c5"><a href="m/focus/">我的收藏</a></li>
			<li class="c6"><a href='m/settings/'>系统设置</a></li>
		</ul>
	</div>
</div>
<?php TPL::output('m/footer.tpl.htm'); ?>