<div class="header">
  <div class="w">
	中国移动终端通
	<?php if ($this->user_id) { ?>
		<div class="z"><a href="account/logout/">
			<img src="<?php echo G_STATIC_URL; ?>/css/images/login02.gif" width="56" height="25"></a></div>
		<div class="y"><?php echo $this->user_info['user_name'];?></div>
    <?php }else{ ?>
	<div class="y"><a href="#"><img src="<?php echo G_STATIC_URL; ?>/css/images/login01.gif"></a></div>
	<?php } ?>
	
  </div>
<!-- 导航下拉 我 -->
<!--div class="aw-top-nav-popup aw-top-nav-profile hide" style=“z-index:999”>
	<ul>
		<li>
			<a href="m/people/"><?php _e('我的主页'); ?></a>
		</li>
		<li>
			<a href="m/inbox/"><?php _e('私信'); ?><?php if ($this->user_info['inbox_unread']) { ?><span class="badge badge-info"><?php echo $this->user_info['inbox_unread']; ?></span><?php } ?></a>
		</li>
		<li>
			<a href="m/settings/"><?php _e('设置'); ?></a>
		</li>
		<li>
			<a href="account/logout/"><?php _e('退出'); ?></a>
		</li>
	</ul>
	<span class="slide-close" onclick="$(this).parents('.aw-top-nav-popup').hide();"><i class="fa fa-angle-up"></i></span>
</div-->
<!-- end 导航下拉 我 -->
</div>
<div class="line8"></div>