<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>
<div class="aw-content">&nbsp;
	
	<script type="text/javascript" src="/static/js/mobile/jquery.touchwipe.1.1.1.js"></script>
	<script type="text/javascript" src="/static/js/mobile/jquery.cycle.2.92.all.js"></script>
	<div id="imagegallery" width="100%" height="800" >
		<div width="100%" height="800">
			<table cellpadding="0" cellspacing="0" align="center" >
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab1.png" width="20" height="29" /></td>
								<td background="<?php echo G_STATIC_URL; ?>/css/images/tab2.png" height="29" style="font-size:16px;">&nbsp;最新问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab3.png" width="23" height="29" /></td>
								<td onclick="goRight()" background="<?php echo G_STATIC_URL; ?>/css/images/tab4.png" height="29" style="font-size:16px;" >&nbsp;热点问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab5.png" width="24" height="29" /></td>
								<td onclick="goLeft()" background="<?php echo G_STATIC_URL; ?>/css/images/tab4.png"          height="29" style="font-size:16px;" >&nbsp;我关注的问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab6.png" width="24" height="29" /></td>
							</tr>                
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="ffd290" height="2px" ></td>
				</tr>
			</table>

			<div class="feed-list">
				<ul id="index_listview"></ul>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
			
		</div>
		
		<div  style="display:none" width="100%" >
			<table cellpadding="0" cellspacing="0" align="center" >
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab7.png" width="20" height="29" /></td>
								<td onclick="goLeft()" background="<?php echo G_STATIC_URL; ?>/css/images/tab4.png" height="29" style="font-size:16px;">&nbsp;最新问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab8.png" width="23" height="29" /></td>
								<td background="<?php echo G_STATIC_URL; ?>/css/images/tab2.png" height="29" style="font-size:16px;" >&nbsp;热点问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab3.png" width="24" height="29" /></td>
								<td onclick="goRight()" background="<?php echo G_STATIC_URL; ?>/css/images/tab4.png"          height="29" style="font-size:16px;" >&nbsp;我关注的问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab6.png" width="24" height="29" /></td>
							</tr>                
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="ffd290" height="2px" ></td>
				</tr>
			</table>

			<div class="aw-topic-list">
				<ul id="hot_topics_list"></ul>
				<a class="aw-load-more" id="load_hot_topics"><?php _e('更多'); ?></a>
			</div>
			
		</div>
		
		<div  style="display:none" width="100%" >
			<table cellpadding="0" cellspacing="0" align="center" >
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab7.png" width="20" height="29" /></td>
								<td onclick="goRight()" background="<?php echo G_STATIC_URL; ?>/css/images/tab4.png" height="29" style="font-size:16px;">&nbsp;最新问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab5.png" width="23" height="29" /></td>
								<td onclick="goLeft()" background="<?php echo G_STATIC_URL; ?>/css/images/tab4.png" height="29" style="font-size:16px;" >&nbsp;热点问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab8.png" width="24" height="29" /></td>
								<td background="<?php echo G_STATIC_URL; ?>/css/images/tab2.png"          height="29" style="font-size:16px;" >&nbsp;我关注的问题&nbsp;</td>
								<td><img src="<?php echo G_STATIC_URL; ?>/css/images/tab9.png" width="24" height="29" /></td>
							</tr>                
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="ffd290" height="2px" ></td>
				</tr>
			</table>

			<div class="feed-list">
				<ul id="index_listview" class="aw-focus-question"></ul>
				<a href="javascript:;" id="load_index_actions" class="aw-load-more"><?php _e('更多'); ?></a>
			</div>


			
		</div>
		
	</div>
</div>

<script>
$(document).ready(function() {
	load_list_view(G_BASE_URL + '/home/ajax/index_actions/template-m', $('#index_listview'), $('#load_index_actions'));

	load_list_view(G_BASE_URL + '/m/ajax/hot_topics_list/', $('#hot_topics_list'), $('#load_hot_topics'), 1);

	load_list_view(G_BASE_URL + '/home/ajax/index_actions/filter-focus__template-m', $('#index_listview'), $('#load_index_actions'));

	$('#imagegallery').cycle({
		timeout: 0,
		fx: 'scrollHorz',
		next: '#next',
		prev: '#prev' 
	});

	$("#imagegallery").touchwipe({
		wipeLeft: function() {
			$("#imagegallery").cycle("next");
		},
		wipeRight: function() {
			$("#imagegallery").cycle("prev");
		}
	});

	
});

function goRight(){
	$("#imagegallery").cycle("next");
}

function goLeft(){
	$("#imagegallery").cycle("prev");
}

</script>

<!--?php TPL::output('m/nav_menu.tpl.htm'); ?-->
<div class="blk5"></div>

<?php TPL::output('m/footer.tpl.htm'); ?>