<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>
<div class="aw-content">
	<div class="w mt1 search clearfix">
	<form name="form1" class="aw-relative" action="m/search/" method="post" >
		<input type="hidden" name="_is_mobile" value="true" />
		
		<input type="text" style="margin-bottom:0;border: medium none;height: 42px;line-height: 42px;width: 85%;float:right" id="aw-search-query" name="q" autocomplete="off"  >
		<input type="submit" class="search_btn" value="" style="margin-top: 5px;float:right">
	</form>
</div>
	<div class="feed-list">
		<ul id="index_listview"></ul>
		<a href="javascript:;" id="load_index_actions" class="aw-load-more"><?php _e('更多'); ?></a>
	</div>
</div>

<!--?php TPL::output('m/nav_menu.tpl.htm'); ?-->
<div class="blk5"></div>

<script type="text/javascript">
	$(document).ready(function () {
		load_list_view(G_BASE_URL + '/home/ajax/index_actions/template-m1', $('#index_listview'), $('#load_index_actions'));
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>