<?php TPL::output('m/header.tpl.htm'); ?>

<?php TPL::output('m/global_header.tpl.htm'); ?>

<div class="w mt1 search clearfix">
	<form  class="aw-relative" action="m/search/" method="post" >
		<input type="hidden" name="_is_mobile" value="true" />
		<input type="submit" class="search_btn" value="" style="margin-top: 5px;">
		<input type="text" style="margin-bottom:0;border: medium none;height: 42px;line-height: 42px;width: 80%;float:right" id="aw-search-query" name="q" autocomplete="off"  >
	</form>
</div>
<div class="blk5"></div>
<div class="line8"></div>

<script type="text/javascript" src="/static/js/mobile/jquery.touchwipe.1.1.1.js"></script>
<script type="text/javascript" src="/static/js/mobile/jquery.cycle.2.92.all.js"></script>

<style type="text/css">
.aabb { margin:1px; width:100%; text-align: left;}
.aabb ul {width:80px; float:left; margin:0px; list-style-type:none}
.aabb li a{border:1px #E5E5E5 solid; background-color:#f6f6f6; width:120px; height:30px; list-style:none; margin:1px; padding:3px;float: left; border-top-color:#FFFFFF; border-left-color:#FFFFFF; text-decoration:none; text-align:center;}
.aabb li a:hover{border:1px #ababab solid; background-color: #EfEfEf; border-top-color:#FFFFFF; border-left-color:#FFFFFF}
</style>

<div id="imagegallery" width=“100%”>		
	<div class="aabb"  style="display: none">
		 4G 热门问题机型<br/>
		<ul>
		    <li><a href="#"><font color="#FFCC00">mmm</font></a></li>
		    <li><a href="#"><font color="#FF0000">zzz</font></a></li>
		    <li><a href="#"><font color="#00cc00">xxx</font></a></li>
		    <li><a href="#"><font color="#000099">ccc</font></a></li>
		    <li><a href="#"><font color="#000000">vvv</font></a></li>
		    <li><a href="#"><font color="#FF0099">bbb</font></a></li>
		</ul>
		<ul>
		    <li><a href="#"><font color="#0099ff">nnn</font></a></li>
		    <li><a href="#"><font color="#FF9900">aaa</font></a></li>
		    <li><a href="#"><font color="#cc00cc">sss</font></a></li>
		    <li><a href="#"><font color="#666666">ddd</font></a></li>
		    <li><a href="#"><font color="#009999">fff</font></a></li>
		    <li><a href="#"><font color="#FF0000">ggg</font></a></li>
		</ul>
		<ul>
		    <li><a href="#"><font color="#0099ff">nnn</font></a></li>
		    <li><a href="#"><font color="#FF9900">aaa</font></a></li>
		    <li><a href="#"><font color="#cc00cc">sss</font></a></li>
		    <li><a href="#"><font color="#666666">ddd</font></a></li>
		    <li><a href="#"><font color="#009999">fff</font></a></li>
		    <li><a href="#"><font color="#FF0000">ggg</font></a></li>
		</ul>
	</div>

	<div class="aabb"  style="display: none">
		 4G 热点机型
		<ul>
		    <li><a href="#"><font color="#FFCC00">mmm</font></a></li>
		    <li><a href="#"><font color="#FF0000">zzz</font></a></li>
		    <li><a href="#"><font color="#00cc00">xxx</font></a></li>
		    <li><a href="#"><font color="#000099">ccc</font></a></li>
		    <li><a href="#"><font color="#000000">vvv</font></a></li>
		    <li><a href="#"><font color="#FF0099">bbb</font></a></li>
		</ul>
		<ul>
		    <li><a href="#"><font color="#0099ff">nnn</font></a></li>
		    <li><a href="#"><font color="#FF9900">aaa</font></a></li>
		    <li><a href="#"><font color="#cc00cc">sss</font></a></li>
		    <li><a href="#"><font color="#666666">ddd</font></a></li>
		    <li><a href="#"><font color="#009999">fff</font></a></li>
		    <li><a href="#"><font color="#FF0000">ggg</font></a></li>
		</ul>
		<ul>
		    <li><a href="#"><font color="#0099ff">nnn</font></a></li>
		    <li><a href="#"><font color="#FF9900">aaa</font></a></li>
		    <li><a href="#"><font color="#cc00cc">sss</font></a></li>
		    <li><a href="#"><font color="#666666">ddd</font></a></li>
		    <li><a href="#"><font color="#009999">fff</font></a></li>
		    <li><a href="#"><font color="#FF0000">ggg</font></a></li>
		</ul>
	</div>

	<div class="aabb"  style="display: none">
		4G 热点问题<br/>
		<ul>
		    <li><a href="#"><font color="#FFCC00">mmm</font></a></li>
		    <li><a href="#"><font color="#FF0000">zzz</font></a></li>
		    <li><a href="#"><font color="#00cc00">xxx</font></a></li>
		    <li><a href="#"><font color="#000099">ccc</font></a></li>
		    <li><a href="#"><font color="#000000">vvv</font></a></li>
		    <li><a href="#"><font color="#FF0099">bbb</font></a></li>
		</ul>
		<ul>
		    <li><a href="#"><font color="#0099ff">nnn</font></a></li>
		    <li><a href="#"><font color="#FF9900">aaa</font></a></li>
		    <li><a href="#"><font color="#cc00cc">sss</font></a></li>
		    <li><a href="#"><font color="#666666">ddd</font></a></li>
		    <li><a href="#"><font color="#009999">fff</font></a></li>
		    <li><a href="#"><font color="#FF0000">ggg</font></a></li>
		</ul>
		<ul>
		    <li><a href="#"><font color="#0099ff">nnn</font></a></li>
		    <li><a href="#"><font color="#FF9900">aaa</font></a></li>
		    <li><a href="#"><font color="#cc00cc">sss</font></a></li>
		    <li><a href="#"><font color="#666666">ddd</font></a></li>
		    <li><a href="#"><font color="#009999">fff</font></a></li>
		    <li><a href="#"><font color="#FF0000">ggg</font></a></li>
		</ul>
	</div>
</div>

<script>

$(document).ready(function() {
	$('#imagegallery').cycle({
		timeout: 0,
		fx: 'scrollHorz',
		next: '#next',
		prev: '#prev' 
	});

	$("#imagegallery").touchwipe({
		wipeLeft: function() {
			$("#imagegallery").cycle("next");
		},
		wipeRight: function() {
			$("#imagegallery").cycle("prev");
		}
	});
});
</script>
</div>

<!--?php TPL::output('m/nav_menu.tpl.htm'); ?-->

<div class="blk5"></div>



<script type="text/javascript">
$(document).ready(function () {
	load_list_view(G_BASE_URL + '/home/ajax/index_actions/template-m', $('#index_listview'), $('#load_index_actions'));
});
</script>


<?php TPL::output('m/footer.tpl.htm'); ?>
